.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.main p {
    width: 400px;
}
